@import url(./step-1.css);

body {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem 2rem;
}

.semi-bold {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: center;
}
.bold {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header {
  width: 100%;
  max-width: 700px;
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 15px;
  justify-content: space-between;
  padding: 18px 24px;
}
.score {
  width: 150px;
  height: 114px;
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
}
.score-txt {
  text-transform: uppercase;
  color: #2a45c2;
}
.score-num {
  font-size: 64px;
  line-height: 64px;
  color: #565468;
}
.main {
    min-height: 500px;
}
.footer {
    width: 100%;
}
.rules-btn {
    width: 130px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
    justify-self: right;
    transition: all ease 0.5s ;
}
.rules-btn:hover{
    background-color: #fff;
    color: #3B4262;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal;
}
.rules {
    max-width: 400px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rules div {
    width: 100%;
    justify-content: space-between;
}
.rules h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #3B4262;
}

